@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-color: #faf7f5;          
  --primary-color: #7b6fae;     
  --heading-color: #2f2a28;    
  --text-color: #5f5a57;       
}

.font-heading {
  font-family: "Playfair Display", serif;
}

.font-body {
  font-family: "Inter", sans-serif;
}
div {
  display: block;
}
.approach-btn {
  display: inline-block;
  padding: 14px 36px;
  border: 2px solid #000;
  color: #000;
  background-color: transparent;
  font-family: Inter, sans-serif;
  font-weight: 500;
  text-decoration: none;
  border-radius: 6px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.approach-btn:hover {
  background-color: #000;
  color: #fff;
}
html {
  scroll-behavior: smooth;
}

